@model Portfolio.Models.BlogLabelViewModel

@{
    ViewData["Title"] = "Personal Blog";
}


<div class="container">

    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Welcome to my Blog</h2>
        </div>
    </div>

    <form asp-controller="Blogs" asp-action="Index" method="get">
        <div class="input-field">
            <input asp-for="searchQuery" asp-items="Model.labels" id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>

    <div class="row">
        @foreach (var item in Model.blogs)
            {
            <div class="col s12 m6">
                <div class="card medium blue-grey darken-1 hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">@item.Title</span>
                        <p>
                            @item.Body
                        </p>
                    </div>
                    <div class="card-action">
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>


        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue" asp-action="Create">
                <i class="material-icons">add</i>
            </a>
        </div>
    </p>
</div>
